{% block hero %}
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Shifted 3 CMS</h1>
        <p class="splash-subhead">
            A modern content management system for World of Warcraft Emulation.
        </p>
        <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>
</div>
{% endblock %}
