{% block navbar %}
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Shifted 3 CMS</a>

        {# <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tour</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign Up</a></li>
        </ul> #}
    </div>
{% endblock %}

{% block sidenav %}
{% endblock %}

{% block footer %}
    <div class="is-center">
        &copy; Copyright 2018–2020 Defiant Gaming Community.
    </div>
{% endblock %}