{% extends 'layout.twig' %}
{% set site = {
    'title': 'Shifted 3 CMS'
} %}

{% block nav %}
    {{ block("navbar", "partials/navigation.twig") }}
{% endblock %}

{% block footer %}
    {{ block("footer", "partials/navigation.twig") }}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
    {% include 'partials/hero.twig' %}

    <div class="content-wrapper">
        <div class="content">
            <h2 class="content-head is-center">Why choosing Shifted?</h2>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                    <h3 class="content-subhead">
                        <i class="fa fa-rocket"></i>
                        Get Started Quickly
                    </h3>
                    <p>
                        The installation process has never been easier. Shifted 3's installer will do all the job for you.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-mobile"></i>
                        Responsive Layouts
                    </h3>
                    <p>
                        Shifted 3 has a design that will look awesome anywhere you visit the site.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-th-large"></i>
                        Modular
                    </h3>
                    <p>
                        You can disable or enable modules or... even create one!
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-check-square-o"></i>
                        Plays Nice
                    </h3>
                    <p>
                        You can connect Shifted 3 to your site with no obstacles.
                    </p>
                </div>
            </div>
        </div>

        <div class="ribbon l-box-lrg pure-g">
            <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                <a href="http://placehold.it/1360x800/4D99E0/ffffff.png&text=CMS PREVIEW" data-fancybox>
                    <img src="http://placehold.it/340x200/4D99E0/ffffff.png&text=CMS PREVIEW" />
                </a>
            </div>
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

                <h2 class="content-head content-head-ribbon">How is Shifted crafted?</h2>

                <p>
                    Shifted 3 is a content management system aimed to serve for World of Warcraft Emulation.
                    Over the years many have tried to make a stable yet updated CMS for different if not all
                    WoW emulators. Not all have succeeded, though. We are here to bring you a CMS that has
                    never been seen before.
                </p>
                <p>
                    Unlike other content management systems available for World of Warcraft emulators, Shifted
                    is professionally coded with passion and joy. We love working on it.
                </p>
            </div>
        </div>

        <div class="content">
            <h2 class="content-head is-center">Have questions? Contact us.</h2>

            <div class="pure-g">
                <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                    <form class="pure-form pure-form-stacked">
                        <fieldset>

                            <label for="name">Your Name</label>
                            <input id="name" type="text" placeholder="Your Name">


                            <label for="email">Your Email</label>
                            <input id="email" type="email" placeholder="Your Email">

                            <label for="password">Your Password</label>
                            <input id="password" type="password" placeholder="Your Password">

                            <button type="submit" class="pure-button">Sign Up</button>
                        </fieldset>
                    </form>
                </div>

                <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                    <h4>Contact Us</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>

                    <h4>More Information</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>

        </div>
    <div class="footer l-box">
        {{ block("footer") }}
    </div>
    </div>

{% endblock %}


