{# Base Template File #}

{% set randomString = [] %}
{% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
{% set nums = '0123456789' %}

{% for i in 1..10 %}
    {% set char = random(alpha ~ alpha|upper ~ nums) %}
    {% set randomString = randomString|merge([char]) %}
{% endfor %}
{% set randomString = randomString|join %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{ randomString }}" />  {# TODO: Should be configurable #}

    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"> {# Pure CSS #}
    <link rel="stylesheet" type="text/css" href="css/main.css?{{ randomString }}" media="all" /> {# Main CSS File #}
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" /> {# jQuery FancyBox #}

    <!-- JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script> {# jQuery #}
    <script type="text/javascript" src="js/main.js?{{ randomString }}"></script> {# Main JavaScript File #}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.js"></script> {# jQuery FancyBox #}
    <script type="text/javascript" src="https://kit.fontawesome.com/10d7a16c5b.js" crossorigin="anonymous"></script> {# FontAwesome Icons #}

</head>
<body>
    <div class="header">
        {% block nav %}{% endblock %}
    </div>
    {% block content %}{% endblock %}
    {# <div class="clear"></div> #}
    {% block scripts %}{% endblock %}
</body>

</html>
